body {
    font-family: 'Poppins', sans-serif;
}

.top-banner-content {
    padding: 100px 260px 10px 260px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    /* opacity: 0.7; */
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 7px;
}

.banner {
    width: 100%;
    height: 650px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 65px;
}

.banner-content {
    padding: 100px 260px 10px 260px;
}

.banner p {
    padding: 0px 100px 50px 100px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(#FF5959, tomato);
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 7px;
}

.donate-today {
    text-align: center;
    padding-top: 100px;
}

.money {
    display: flex;
    margin: 0px 300px;

}

#moneyAmount {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.money h1 {
    font-size: 30px;
    margin: 30px 0px 40px 20px;
    padding: 30px 20px 30px 20px;
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 7px;
    /* box-shadow: 10px 10px 20px gray; */
}

.money h1 {
    font-size: 30px;
    margin: 30px 0px 40px 20px;
    padding: 30px 20px 30px 20px;
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 7px;
    /* box-shadow: 10px 10px 20px gray; */
}

.donate-today h1 {
    font-size: 40px;
    font-weight: 800;
}

.input-box {
    text-align: center;
    padding-bottom: 40px;
}

.input-box input {
    width: 50%;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #cecccc;
}

.donate {
    text-align: center;
    padding: 50px 0px 100px 0px;
}

.donate-plan {
    text-align: center;
    padding-top: 10px;
}

.content {
    margin: 10px 130px 10px 130px;
    padding: 10px 10px 100px 10px;
    display: flex;
}

#card {
    margin: 10px 10px;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    background-color: #EDF5F6;
}

#card2 {
    margin: 10px 10px;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    background-color: #FFEEEE;
}