body {
    font-family: 'Poppins', sans-serif;
}

.top-banner-content {
    padding: 100px 260px 10px 260px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    /* opacity: 0.7; */
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 7px;
}

.banner {
    width: 100%;
    height: 650px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 65px;
}

.banner-content {
    padding: 100px 260px 10px 260px;
}

.banner p {
    padding: 0px 100px 50px 100px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(#FF5959, tomato);
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 7px;
}

.donate-today {
    text-align: center;
    padding-top: 100px;
}

.money-amount {
    display: flex;
    margin: 0px 300px;

}

#moneyAmount {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}